# Gemini API Key (get from Google AI Studio)
GEMINI_API_KEY=AQ.Ab8RN6LnvihFlSef2zD4ywydY7ANdWxbbzmDVFhIomkQBuwgyQ

# Google OAuth Credentials (if implementing OAuth login)
GOOGLE_CLIENT_ID=471036606701-qi2lmu1jg4nshe43dsi121eo2os8ujdu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_PROJECT_ID=arched-curve-507404-a3
